<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection_string_user"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\source\repos\WinFormsAppTryingFitures\WinFormsAppTryingFitures\DatabaseUser.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>